*{ 
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
    background-color: rgb(248, 246, 246);
}

header {
    font-family: 'Fredericka the Great', cursive;
    width: 100%;
    height: 200px;
    background-image: url('./img/gastroflix-background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding-top: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.app-name {
    font-size: 45px;
}

main {
    width: 100%;
}

.search-container {
    height: 125px;
}

.location-search {
    display: block;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.error-message { 
    color: red; 
}

.hidden { 
    display: none; 
}

h2 {
    font-family: 'Gayathri', sans-serif;
    font-size: 50px;
    text-shadow: 2px 2px black;
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

#movie-header {
    background-position: center;
    color: #70869E;
    border: 1px solid black;
    background-color: rgb(221, 240, 255);
    padding: 20px;
}

#movie-header img {
    width: 100px;
}

#restaurant-header {
    background-position: center;
    color: #70869E;
    border: 1px solid black;
    background-color: rgb(250, 240, 225);
    padding: 20px;
}

#restaurant-header img {
    width: 100px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.hours {
    padding: 10px;
}

@media screen and (min-device-width: 1200px) {
    header {
        height: 300px;
    }

    .app-name {
        font-size: 65px;
    }

    h2 {
        font-size: 75px;
    }

    .flex-container {
        display: flex;
        justify-content: center;
    }

    .movie-section {
        width: 50%;
    }

    #movie-header{
        height: 260px;
    }

    #restaurant-header{
        height: 260px;
    }

    .restaurant-section {
        width: 50%;
    }

    #restaurant-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    #restaurant-list li {
        width: 250px;
    }
}