*{ 
    box-sizing: border-box;
}

body { 
    font-family: 'Roboto', sans-serif; 
}

header {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-name {
    font-size: 45px;
    text-align: center;
}

main {
    width: 100%;
}

.location-search {
    display: block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.error-message { 
    color: red; 
}

.hidden { 
    display: none; 
}

li {
    list-style-type: none;
}